extends base

include _navItem

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings', true)
          +navItem('/myTracks', 'My tracks', 'briefcase', false)
          +navItem('/myComments', 'My comments', 'star', false)
          +navItem('#', 'Chat', 'credit-card', false)

        - if (user.role === 'owner' || user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manageTracks', 'Manage tracks', 'map')
              +navItem('/manageUsers', 'Manage users', 'users')
              +navItem('/manageComments', 'Manage comments', 'star')

      .comment-wrapper.my-cmts-container
        h1.adm__cmt-title= title
        each comment, index in comments
          section
            .heading-box
              .description__text-two
                .comment__item--user
                  h2.mycmts= `${comment.track ? comment.track.title.toUpperCase() : 'TRACK DELETED'}`
                  p.content__cmt(id=`cmt-content-${index}`)= comment.comment
                  .cmt-adm-options
                    a.btn-drawn.lined.a-link-btn(href=`/track/${comment.track.slug}`) Details
                    btn.btn-drawn.lined.adm-btn-del.btn-del-my-cmts(id=`${comment._id}`) Delete
