extends base

include _navItem
include _cardData

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings', true)
          +navItem('/myTracks', 'My tracks', 'briefcase', false)
          +navItem('/myComments', 'My comments', 'star', false)
          +navItem('#', 'Chat', 'credit-card', false)

        - if (user.role === 'owner' || user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manageTracks', 'Manage tracks', 'map')
              +navItem('/manageUsers', 'Manage users', 'users')
              +navItem('/manageComments', 'Manage comments', 'star')

      .mycards-flex
        h1.adm__cmt-title= title
        .card-container-two
          each track in tracks
              .card
                .card__header
                  .card__top
                    -
                      let status;
                      switch(track.status) {
                        case 'Open':
                          status = 'heading-tertiary-open'
                          break;
                        case 'InProgress':
                          status = 'heading-tertiary-inprogress'
                          break;
                        case 'Resolved':
                          status = 'heading-tertiary-resolved'
                          break;
                      }
                    h3(class=`heading-tertiary ${status}`)
                      span= track.status
                  .user__data
                    img(src=`/img/users/${track.user.photo}` alt=`${track.user.name}`, class='user__pic--img')
                    .user__name: span= track.user.name
                
                .card__details
                  h4.card__sub-heading= track.title
                  p.card__text= `Priority: ${track.priority}`
                  p.card__text= track.description

                  - const date = track.createdAt.toLocaleString('en-us', { month: 'short', day: 'numeric', year: 'numeric' })
                  +cardData('flag', track.category)
                  +cardData('calendar', date)

                .card__footer
                  a.btn-drawn.lined(href=`/track/${track.slug}`) Details
                  btn.btn-drawn.lined.btn-x(id=`${track._id}`)
